 .u-section-1 {
  background-image: url("images/23155641.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1306px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -48px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 82px;
  width: 630px;
  margin: -36px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 32px;
  margin: 11px 457px 0 485px;
}

.u-section-1 .u-icon-1 {
  width: 63px;
  height: 63px;
  margin: -42px auto 0 396px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 36px auto 0;
  padding: 18px 67px 18px 65px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 62px auto 60px;
  padding: 17px 58px 19px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
    margin-top: -39px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 138px;
    width: 538px;
    margin-top: -39px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 197px;
    margin-top: -27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 53px;
    height: 53px;
    margin-left: 307px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 53px;
    padding: 18px 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: -44px;
    margin-right: 234px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 585px;
    margin-top: -59px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -35px;
  }

  .u-section-1 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-top: -41px;
    margin-left: 202px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-image-1 {
    width: 171px;
    height: 171px;
    margin-top: -38px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -5px;
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -55px;
  }

  .u-section-1 .u-icon-1 {
    width: 46px;
    height: 46px;
    margin-top: -39px;
    margin-left: 111px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 46.06% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
    margin-top: -29px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -31px;
    margin-right: 0;
    margin-left: 27px;
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-icon-1 {
    width: 48px;
    height: 48px;
    margin-top: -40px;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 138px;
  }
}