Flask>=3.0.3
Werkzeug==3.0.4
MarkupSafe==2.1.5
sounddevice==0.5.0
numpy==1.26.4
pyserial==3.5
influxdb-client==1.36.0
RPi.GPIO==0.7.1
Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.49.0
adafruit-circuitpython-ads1x15==2.4.1
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
adafruit-extended-bus==1.0.2
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.8.2
board==1.0
tensorflow==2.17.0
keras==3.5.0
soundfile==0.12.1
gunicorn==23.0.0
bleak==0.22.3
